@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind utilities;
@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
